@model WebMVC.Models.LoginModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>LoginModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PassWord" class="control-label"></label>
                    <input asp-for="PassWord" class="form-control" />
                    <span asp-validation-for="PassWord" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>

    @*<div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PassWord" class="control-label"></label>
            <input asp-for="PassWord" class="form-control" />
            <span asp-validation-for="PassWord" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
            </label>
        </div>
        <div class="form-group">
            <input id="btnLogin" type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>*@
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $(document).ready(function () {
        var cookie = document.cookie;
        console.log(btoa("aaaaaaaaaaaafff"));
        console.log('get cookie' + cookie);
        if (cookie) {
            debugger;
            var allCookies = cookie.split(';');
            for (let i = 0; i < allCookies.length; i++) {
                var cookieArray = allCookies[i].split('=')
                if (cookieArray[0].trim() == 'Email') {
                    //console.log('decodeEmail  value= ' + atob(cookieArray[1]));
                    document.getElementById('Email').value = decodeURIComponent(cookieArray[1]);
                }
                if (cookieArray[0].trim() == 'PassWord') {
                    //console.log('decode pass value= ' + atob(cookieArray[1]));
                    document.getElementById('PassWord').value = decodeURIComponent(cookieArray[1]);
                }
            }
            

        }

        //https://stackoverflow.com/questions/37401301/encode-base-64-in-javascript-decode-unicode-in-c-sharp
        showHideButton();
        $('#Email').keyup(function () {
            debugger;
            showHideButton();
        });
        $('#PassWord').keyup(function () {
            debugger;
            showHideButton();
        });

        function showHideButton() {
            debugger;
            if ($('#Email').val() === '' || $('#PassWord').val() === '') {
                $('input[type="submit"').prop('disabled', true);
                //$('input[type="submit"').removeAttr('disabled');

            }
            else {
                $('input[type="submit"').prop('disabled', false);
                //$('input[type="submit"').attr('disabled', 'disabled');
            }
        }
    });
</script>


